html {
    display: table;
    margin: auto;
}

body{
    vertical-align: middle;
}


.container{
    padding: 40px;
    text-align: center;
    background-color: rgb(225, 225, 225);
    border-radius: 3%;
    
}

.body input{
    padding: 8px;
    margin-right: 8px;
}

.body button{
    padding: 8px 16px;
}

.footer{
    margin-top: 20px;
    font-size: 20px;
}